<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}" />
<meta charset="UTF-8"/>
<title>Liste des produits</title>
<!-- import pour web components -->
	<script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/bower_components/iron-demo-helpers/demo-pages-shared-styles.html" />
    <link rel="import" href="/bower_components/iron-demo-helpers/demo-snippet.html" />
    <link rel="import" href="/bower_components/paper-search-input-master/paper-search-input.html"/>
<!-- javascript functions -->
<script th:inline="javascript">
  var selectedTp= /*[[${selectedTp.id}]]*/;
  
  	function setSelectedTp(selectedTp){
  		this.selectedTp=selectedTp;
  	}
    function get_action(e) {
    	//alert("test "+form.action);
    	var keyword= document.querySelector("paper-search-input#colors").value;
    	
    	if(e.keyCode == 13){
    		
	    	document.getElementById("keyword").value=keyword;
	    	document.getElementById("typeProduit").value=this.selectedTp;
	    	document.getElementById("search").submit();
    	}
    }
   
   
</script>
</head>
<body>
<div id="left-col" class="col-sm-3 col-lg-2" >
	<div class="spacer" th:insert="Left :: navbar">
	</div>	
</div>
<div class="col-sm-9 col-lg-10">
	
	<div class="container spacer">
	
	<form th:action="@{index}" name="search" id="search" method="get">
		<input type="hidden" id="keyword" name="keyword"/>
		<input type="hidden" id="typeProduit" name="typeProduit"/>
	</form>
<!-- -----------------------			systeme de recherche web component/polymer---------------------------------
---------------------------------------------------------------------------------------------------------- -->
			<custom-style>
		  <style is="custom-style" include="demo-pages-shared-styles">
		    .colors {
		      --search-background-color: #518ac0;
		      --search-text-color: #518ac0;
		      --search-label-color: white;
		      --search-width: 500px;
		      --search-height: 40px;
		      --search-margin:0px 0px 25px 0px;
		      --search-border-width: 2px;
		      --search-font-size:20px;
		      --search-field-padding-top:0px;
		      --search-field-height:20px;
		    }
		  </style>
		</custom-style>
		<paper-search-input id="colors" name="paper-search" class="colors" onkeydown="get_action(event)"><th:block th:utext="${keyword}"/></paper-search-input>

<!-- ------------------------------------------------------------------------------------------------------ -->
		<form th:action="@{index}" id="sort">
			<input type="hidden" th:value="${keyword}" name="keyword" />
			<select onChange="sort.submit()" name="typeProduit">
				<option th:text="All" th:value="0"></option>
				<option th:each="t:${listType}" th:text="${t.name}" th:value=${t.id} th:selected="${selectedTp.id == t.id}"></option>
			</select>
		</form>
	
	
	
		<!-- <form th:action="@{index}" name="search" onSubmit="get_action(this);" method="get">
			<div class="form-group">
				<label>Mot clé:</label>
				<input type="text" name="keyword" th:value="${keyword}"/>
				<input type="submit" value="Chercher"/>
				<input type="button" value="Chercher" onClick="get_action( document.getElementById('search'))" />
			</div>
		
		</form>-->
	</div>
	<div class="container spacer">
		<table class="table">
			<thead>
				<tr><th>ID</th><th>nom</th><th>Type</th><th>prix</th><th>quantité</th><th>Photo</th></tr></thead>
				<tbody>
					<tr th:each="p:${produits}">
					<td th:text="${p.id}"></td>
					<td th:text="${p.name}"></td>
					<td th:text='${tp[p.id]}'></td>
					<td th:text="${p.price}"></td>
					<td th:text="${p.quantity}"></td>
					<td ><img th:src="@{getImage(id=${p.id})}" width="100" height="100" class="img-circle" /> </td>
					<td><a onclick="return confirm('êtes vous sûr?')" th:href="@{delete(id=${p.id})}">Supprimer</a></td>
					<td><a  th:href="@{edit(id=${p.id})}">Editer</a></td>
					</tr>
				</tbody>
	</table>
	</div>
	<div class="container spacer">
		<a th:href="@{formProduit}">Ajouter un produit</a>
	</div>
	<div class="container spacer">
	<ul class="nav nav-pills">
	<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''"><a th:href="@{index(page=${p},motCle=${keyword})}" th:text="${p}"></a> 
		
	</li>
	</ul>
	</div>
</div>
</body>
</html>